.pointsBody {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.pointsNavBar {
    text-align: center;
}

.points-student-list {
    text-align: center;
}