.student-row {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 3fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.manage-student-container {
    width: 100vw;
    height: 100vh;
    padding-top: 250px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.inside-container {
    width: 90vw;
}

.filters {
    display: flex;
    gap: 10px;
}

.add-new-student {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr;
    justify-content: center;
}

.edit-student-box {
    height: 100%;
}

